footer {
  text-align: center;
  font-size: 1.0vw;
  font-weight: 490;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

p {
  text-align: center;
  font: 100%;
}
