<header id="header" class="fixed-top">
  <div class="container-fluid">
      <img class = "merlin_logo" src="../../assets/img/merlin_icono.png">
      <img class = "tigo_logo" src="../../assets/img/icono_tigo.png">
  </div>
</header>
