header {
  width: 100%;
  height: 175px;
  position: sticky;
  color: white;
}

.merlin_logo {
  margin-right: 15px;
  margin-top: 25px;
  float: right;
  width: 130px;
  height: 140px;
}

.tigo_logo {
  margin-left: 15px;
  margin-top: 25px;
  float: left;
  width: 200px;
  height: 150px;
}
