.container {
  width: 100%;
  height: 450px;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.style {
  font-family: 'Poppins', sans-serif !important;
  font-size: 2.15vw;
  font-weight: 800;
}

form {
  width: 1000px;
}

input {
  width: 100%;
  height: 120px;
}

button,h2{
  margin-top: 20px;
  margin-bottom: 10px;
}
