<div class="container">
  <div>
    <form>
      <h2 class = "style pb-2">URL en la que se ejecutará la prueba: </h2>
      <div class="form-group">
        <input  type="text" class="form-control pb-5" id="link" aria-label="With textarea" aria-describedby="inputGroup-sizing-sm" [formControl]="formRuta" required name="formRuta">
        <button id="boton"  value="redireccion" class="btn btn-danger" (click)="goURL()">Redireccionar</button>
      </div>
    </form>
  </div>
</div>
